@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>

        <h5>Description:</h5>
        <div>@Html.Raw(ViewBag.Description)</div>

        @if (ViewBag.MovieInfo.Length > 0)
        {
            <h5>Movie Info:</h5>
            <div>
                <ul>
                    @foreach (var info in ViewBag.MovieInfo)
                    {
                        <li>@info</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
