@model MovieGallery.Models.Movie[]

@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3">
            <h4>@movie.Title</h4>
            <img src="/Images/@movie.CoverImageFileName"
                 alt="@movie.Title"
                 class="img-responsive" />
        </div>
    }
</div>
