@model MovieGallery.Models.Movie[]

@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(movie.Title, "Detail", new { id = movie.Id })</h4>
            <a href="@Url.Action("Detail", new { id = movie.Id })">
                <img src="/Images/@movie.CoverImageFileName" alt="@movie.Title" class="img-responsive" />
            </a>
        </div>
    }
</div>
